extends ../layout

block content
    h1= title
    p
        a(href="/books/new", class="button") Create New Book

    h2 Search

    form(action="/books/results/1", method="get")
        p
            label(for="search") Search by title, author, genre, or year.
            br
            input(type="search" name="search" id="search" value=searchQuery)
            br
            input(type="submit" value="Search" class="search-btn")
    
    h2= location
    
    table
        thead
            each columnName of columnNames
                th= columnName
        tbody
            each book in books.rows
                tr
                    td
                        a(href="/books/" + book.id) #{book.title}
                    td= book.author
                    td= book.genre
                    td= book.year
    br
    p
        - var i = 1;
        span Pages &nbsp;
        while i <= pagesFound
            a(href="/books/page/" + i ) #{i} &nbsp;
            - i++