extends ../layout

block content
    h1= title
    p
        a(href="/books/new", class="button") Create New Book

    h2 Search

    if (errorMsg)
        h2.error Oooops!
        p.error.message= errorMsg

    form(action="/books/results/1", method="get")
        p
            label(for="search") Search by title, author, genre, or year.
            br
            input(type="search" name="search" id="search" value=searchQuery)
            br
            input(type="submit" value="Search" class="search-btn")

    if (books)        
        h2= `"${searchQuery}" search results - ${location}` 

        table
            thead
                each columnName of columnNames
                    th= columnName
            tbody
                each book in books.rows
                    tr
                        td
                            a(href="/books/" + book.id) #{book.title}
                        td= book.author
                        td= book.genre
                        td= book.year
        br
        p
            - var i = 1
            while i <= pagesFound
                a(href="/books/results/" + i + "?search=" + searchQuery) #{i} &nbsp;
                - i++

    br
    p
      a(href='/' class="button") Home